body{
    background-image:url("mainimg.png");
    }
    #h1
    {
    text-align:center;
    vertical-align:top;
    color:brown;
    }
    h2{
    text-align:center;
    vertical-align:top;
    color:brown;
    }
    p{
    font-weight:200;
    font-size:18px;
    color:blue;
    text-align:center;
    }
    span{
    color:yellow;
    text-decoration:underline;
    }
    a:hover{
    color:orange;
    cursor:pointer;
    }