h1{
    color:rgb(241, 241, 131);
    background-color:blue;
    text-align:center;
    vertical-align:top;
    font-weight:300;
    text-shadow:2px 2px 2px yellow;
}
body{
    color:brown;
}
table{
    background-color:pink;
    height:80%;
    width:80%;
}
#sub{
    color:white;
    font-size:19px;
    border-radius:6px;
    border:none;
    background-color:rgb(125, 230, 125);
    padding-right:30px;
    padding-left:30px;
}
.res{
    color:white;
    font-size:19px;
    border-radius:6px;
    border:none;
    background-color:rgb(124, 233, 124);
    padding-right:30px;
    padding-left:30px;
}
